.wrapper{
    background-color: none;
    margin-left: 15%;
    margin-top: 40px;
}
body{
    align-items: center;
    display: flex;
    background: url('bcp.jpg') no-repeat;
    background-size: cover;
    font-family: inherit;
    margin: 0%;
    line-height: inherit;
}
.input-box{
    margin: 30px;
    position: relative;
    color: gray;
    
}
.input-box input{
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    color: gray;
    border: 2px solid gray;
}
h3{
    
    font-size: 3em;
}
.input-box label{
    position: absolute;
    color: gray;
    top: -20%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:hover{
    border: 2px solid rgb(55, 59, 110);
}
.btn{
    width: 335px;
    padding: 15px;
    border-radius: 25px;
    margin-left: 7%;
    border: none;
    background-color: rgb(98, 103, 175);
    color: white;
    cursor: pointer;
}
.title{
    position: absolute;
    right: 6%;
}
.title .ad{
    text-decoration: none;
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    right: 1%;
}
